.financed-project-card {
  height: 300px;
  width: 400px;
  background-color: $medium-grey;
  box-shadow: 0px 0px 2px $soft-black;
  border-radius: 4px;
  display: flex;
  position: relative;
  flex-direction: column;
}

.financed-project-card-illustration-container {
  margin: 20px;
  position: relative;
  height: calc(100% - 20px);
  max-width: calc(100% - 20px);

  &__illustration {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 0px 2px $dark-grey;
  }
}

.financed-project-card-information-section {
  position: relative;
  background-color: rgba($light-grey, 0.96);
  height: 100px;
  width: 100%;
  padding: 10px 16px;
  display: flex;
  border-radius: 4px;

  &__flag {
    position: absolute;
    top: -8px;
    left: calc(50% - 11px);
  }

  .financed-project-card-information-section-header {
    width: 150px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    &__title {
      font-size: 0.875rem;
      margin: 0;
      margin-bottom: 16px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &__loan {
      @include paragraphInformation();
      margin-top: 0;
    }
  }

  .financed-project-card-information-section-centered-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: 70px;

    &__amount {
      @include paragraphInformation();
    }
  }


  .financed-project-card-information-section-right-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    &__duration {
      @include paragraphInformation();
      margin: 6px 0 16px;
    }

    &__grade {
      @include paragraphInformation();
      margin-top: 0;
    }
  }
}