.online-project-card {
  height: 300px;
  background-color: $white;
  box-shadow: 0px 0px 2px $soft-black;
  border-radius: 4px;
  display: flex;
  position: relative;
  align-items: flex-end;

  &__illustration {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
  }

  @include isDeviceTablet() {
    height: 300px;
    width: 800px;
  }
}

.online-project-card-information-section {
  position: relative;
  background-color: rgba($white, 0.96);
  z-index: 2;
  height: 110px;
  width: 100%;
  padding: 20px 16px;
  display: flex;
  border-radius: 4px;

  &__flag {
    position: absolute;
    top: -8px;
    left: calc(50% - 11px);
  }

  &__header {
    @include isDeviceTablet() {
      width: 300px;
    }

    h3 {
      width: 100px;
      margin: 0;
      margin-bottom: 16px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: wrap;
      margin-right: 6px;
      font-size: 1rem;

      @include isDeviceTablet() {
        width: initial;
        white-space: no-wrap;
        font-size: inherit;
      }
    }

    p {
      margin-bottom: 0;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; // max nb lines to show
      -webkit-box-orient: vertical;
      display: box;
      line-clamp: 2;
      box-orient: vertical;

      @include paragraphInformation();

      @include isDeviceMobile() {
        display: none;
      }
    }
  }

  .online-project-card-information-section-centered-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    @include isDeviceTablet() {
      width: 180px;
    }

    &__rate {
      margin: 0;
      font-size: 1.125rem;
      font-weight: bold;

      @include isDeviceTablet() {
        font-size: 1.75rem;
        font-weight: inherit;
      }
    }

    &__loan {
      margin: 4px 0;
      @include paragraphInformation();
    }

    &__grade {
      margin: 0;
      @include paragraphInformation();
    }
  }


  &__right-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    a {
      color: $blue;
      font-weight: bold;
      text-decoration: none;
      font-size: 0.875rem;
      max-width: 80px;
      margin-bottom: 6px;

      @include isDeviceTablet() {
        font-size: inherit;
        max-width: inherit;
        margin-bottom: 14px;
      }

      &::after {
        content: ' 〉';
        font-weight: bolder;
        width: 8px;
        height: 8px;
      }
    }

    p {
      margin: 0;
      @include paragraphInformation();
    }
  }
}